.greetings__image {
  display: block;
  margin: 4em auto 0;
}

.greetings__title {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Bold";
  font-size: var(--fs-h2);
}

.greetings__title span {
  font-family: "Light";
  font-size: var(--fs-h3);
}

.greetings__borderbox {
  margin: 2em auto 0;
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  padding: 2.5em 1em;
  text-align: center;
  line-height: 32px;
}

.greetings__borderbox p {
  font-family: "Bold";
  font-size: var(--fs-h3);
}

.greetings__borderbox span {
  font-size: var(--fs-h4);
  font-family: "Light";
}

.greetings__textbox {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2.5em;
}

.greetings__textbox p {
  font-size: var(--fs-h3);
  line-height: 40px;
  word-break: break-all;
  text-align: justify;
}

.greetings__textbox span {
  font-family: "Bold";
}
