.no_churchNews {
  margin-top: 2em;
}

.churchNews_table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0.5em;
  margin: 2em auto 0;
  width: 100%;
  overflow-x: scroll;
}

.churchNews_thead,
.churchNews_tbody,
.churchNews_tbody {
  min-width: 400px;
  width: 100%;
}
.churchNews_thead th,
.churchNews_tbody th,
.churchNews_tbody td {
  font-size: var(--fs-h4);
  text-align: left;
  padding: 0.5em;
}

.churchNews_thead {
  background-color: var(--clr-light-gray);
}

.churchNews_thead a {
  display: block;
}

.churchNews_thead th {
  font-family: "Bold";
}

.churchNews_tbody {
  gap: 1.25em;
}
