@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.header__border {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 1.5em var(--default-padding);
  background-color: var(--clr-dark);
  border-bottom: 1px solid var(--clr-dark);
}

.header {
  display: flex;
  position: relative;
  color: var(--clr-light);
  justify-content: space-between;
}

.header__hamberger {
  margin: auto 0 auto auto;
  cursor: pointer;
}

.header a {
  color: var(--clr-light);
}

.header__btns {
  font-size: var(--fs-h2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}

.header__btns > li {
  position: relative;
}

.header__btns > li > a {
  padding: 0.5em 0;
}

.header__btns_dropdown {
  display: none;
  position: absolute;
  background-color: var(--clr-dark-gray);
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  top: 34px;
  min-width: 130px;
  z-index: 100;
}

.header__btns_dropdown a {
  font-size: var(--fs-h4);
}

.header__btns_dropdown p {
  font-size: var(--fs-h3);
  font-family: "Bold";
}

.header__btns_dropdown p.marginTop {
  margin-top: 0.5em;
}

.header__btns > li > a:hover ~ .header__btns_dropdown,
.header__btns_dropdown:hover {
  display: flex;
  animation: fadeInDown 0.5s;
}

.selected {
  font-family: "Bold";
}

@media (max-width: 1050px) {
  .header__btns {
    max-width: none;
    min-width: none;
    width: calc(100% + 50px);
    position: absolute;
    top: 76px;
    left: -25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    background-color: var(--clr-dark);
    padding: 1em;
    box-sizing: border-box;
  }

  .header__btns_dropdown {
    top: 32px;
  }
}
