.header__border {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 1.25em var(--default-padding);
  background-color: var(--clr-light);
  border-bottom: 1px solid var(--clr-dark);
}

.header {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 900px;
}
