.sermon_table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0.5em;
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll;
}

.sermon_thead,
.sermon_tbody,
.sermon_tbody {
  min-width: 400px;
  width: 100%;
}
.sermon_thead th,
.sermon_tbody th,
.sermon_tbody td {
  font-size: var(--fs-h4);
  text-align: left;
  padding: 0.5em;
}

.sermon_thead {
  background-color: var(--clr-light-gray);
}

.sermon_thead a {
  display: block;
}

.sermon_thead th {
  font-family: "Bold";
}

.sermon_tbody {
  gap: 1.25em;
}
